<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <logger name="org.springframework.web" level="INFO" />

    <springProperty scope="context" name="applicationName" source="spring.application.name"/>

    <!-- 开发环境配置-->
    <springProfile name="dev">
        <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <FileNamePattern>C:/Users/Administrator/Desktop/github/logs/${applicationName}.%d{yyyy-MM-dd}.log</FileNamePattern>
                <MaxHistory>5</MaxHistory>
            </rollingPolicy>
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>

        <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <Pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</Pattern>
            </encoder>
        </appender>

        <root>
            <level value="INFO"/>
            <appender-ref ref="file"/>
            <appender-ref ref="console"/>
        </root>
    </springProfile>

    <!-- 测试环境配置-->
    <springProfile name="test">
        <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <FileNamePattern>/logs/${applicationName}.%d{yyyy-MM-dd}.log</FileNamePattern>
                <MaxHistory>15</MaxHistory>
            </rollingPolicy>
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>

        <root>
            <level value="INFO"/>
            <appender-ref ref="file"/>
        </root>
    </springProfile>

    <!-- 生产环境配置-->
    <springProfile name="prd">
        <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <FileNamePattern>/logs/${applicationName}.%d{yyyy-MM-dd}.log</FileNamePattern>
                <MaxHistory>15</MaxHistory>
            </rollingPolicy>
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>

        <root>
            <level value="INFO"/>
            <appender-ref ref="file" />
        </root>
    </springProfile>

</configuration>
